*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto 100vw auto;
}

/* Header styles */
header, footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(to right, green, yellow);
}

header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  max-width: 100px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.5s;
}

nav a:hover {
  color: 3498db;
}

.about {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

.about p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.contact {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}


.contact address {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

/* Form styles */
form {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical; /* Allow vertical resizing of the textarea */
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #2ecc71;
}

/* Section styles */
section {
  padding: 2rem;
}

/* slider.css */
.sales-slider {
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.image-slider {
  display: flex;
  animation: slide 10s infinite;
  transition: transform 0.5s;
}

.slide {
  flex: 0 0 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 100%;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 100%;
  height: auto;
  /* cursor: pointer;
  transition: transform 0.2s; */
}

.slide img:hover {
  transform: scale(1.05);
}

@keyframes slide {
  0%, 100% { transform: translateX(0%); }
  20% { transform: translateX(0%); }
  40% { transform: translateX(-100%); }
  60% { transform: translateX(-100%); }
  80% { transform: translateX(-200%); }
}

/* .prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover, .next-button:hover {
  background-color: #555;
} */

product-info-toggle {
  display: none;
}

.product-info-label {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.product-info-toggle:checked + .product-info {
  display: block;
}

.product-info {
  display: none;
  padding: 10px;
  text-align: left;
  background: #f9f9f9;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.social-media a:hover {
  text-decoration: underline;
}

/* Product styles */
.product {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: inline-block;
  width: 20%;
}

.product img {
  max-width: 100%;
}

.price {
  font-weight: bold;
  color: #007BFF;
}